<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
</head>
<body>
    <h1>Receitas Faceis</h1>
    <h2>Bem-Vindo a este site!!!</h2> 
    
    <table>
        <thead>
            <tr>
                <td>Nome da Receita</td>
                <td>ingredientes</td>
                <td>Modo de Preparo</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verde, 1 maça, 1 cenoura</td>
                <td>Bata tudo no liquidificador</td>
            </tr>
        </tbody>
    </table>
</body>
</html>